@charset "utf-8";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply rounded-full;
}

.text-gold {
    color: #C18E3A;
}

.recharts-responsive-container {
    background-color: ghostwhite;
    border-radius: 12px;
}

.btn:disabled {
    @apply border-dashed border-primary;
}

.btn:hover {
    @apply border-2 border-primary;
}