@charset "utf-8";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply rounded-full;
}

.text-gold {
    color: #C18E3A;
}

.recharts-responsive-container {
    background-color: ghostwhite;
    border-radius: 12px;
}

.btn:disabled {
    @apply border-dashed border-primary;
}

.btn:hover {
    @apply border-2 border-primary;
}

.breadcrumb-select option {
    white-space: pre-wrap;
}

.breadcrumb-select option::before {
    content: attr(data-text);
    display: block;
    white-space: pre-wrap;
}

.breadcrumb-select option[data-text]::before {
    content: attr(data-text);
    display: block;
    white-space: pre-wrap;
}

.breadcrumb-select option[data-text] {
    display: none;
}